@import "./varibles.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Constantine";
  src: url("/fonts/Constantine.woff2") format("woff2");
}

@font-face {
  font-family: "Archive";
  src: url("/fonts/Archive.woff2") format("woff2");
}

@font-face {
  font-family: "Romul";
  src: url("/fonts/Romul.ttf");
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  &.scroll-hidden {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  font-family: "Romul", sans-serif;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.goToTop {
  background: $spaceGray;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 95%;
  left: 95%;
  transform: translate(-95%, -95%);
  z-index: 99;
  @media (max-width: 1100px) {
    &.active {
      display: flex;
    }
  }
}

.overlay {
  background: $graphit;
  animation-name: transform;
  animation-timing-function: linear;
  animation-duration: 300ms;
  animation-play-state: paused;
  z-index: 3;
  position: fixed;
  left: 100%;
  display: none;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
  }

  .burger {
    display: flex;
    align-self: flex-end;
    width: 100%;
    width: 32px;
    height: 32px;
    position: relative;
    &__line {
      background: $white;
      height: 3px;
    }

    &__line:first-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &__line:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    margin-bottom: 40px;
  }

  .menu {
    flex-direction: column;
    text-align: center;
    gap: 32px;
  }

  @media (max-width: 1100px) {
    &.active {
      display: block;
      left: 0%;
      animation-play-state: running;
      animation-name: transform;
    }

    &.closing {
      animation-name: transformClosing;
      display: block;
      left: 100%;
      animation-play-state: running;
    }
  }
}

.header {
  background: url("/images/background.webp") no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  &__container {
    display: flex;
    width: 100%;
  }

  &__top {
    border-bottom: 2px solid $grey;
    padding: 40px 0 29px 0;
  }

  &__top-container {
    display: flex;
    width: 100%;
  }

  &__bottom {
    align-items: center;
    display: flex;
    height: 100vh;
  }

  &__nav {
    display: flex;
    width: 100%;
  }

  &__bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__h1 {
    color: $white;
    text-align: center;
    font-family: "Constantine";
    @include adaptiv-font(80, 30);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  &__p {
    color: $whiteSmoke;
    max-width: 842px;
    margin: 32px 0 52px 0;
    @media (max-width: 767px) {
      margin: 40px 0 36px 0;
    }
    width: 100%;
    text-align: center;
    font-family: "Romul";
    font-style: normal;
    font-weight: 400;
    @include adaptiv-font(19, 13);
    @include adaptiv-lineHeight(48, 21);
  }

  &__link {
    background: linear-gradient(
        216deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.1) 100%
      ),
      rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 100px;
    padding: 16px 24px;
    color: $white;
    text-align: center;
    font-family: "Romul";
    @include adaptiv-font(16, 14);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  @media (max-width: 767px) {
    &__top {
      border-bottom: none;
    }

    &__top-container {
      justify-content: flex-end;
    }

    .burger {
      display: flex;
      margin-top: 10px;
    }

    &__nav {
      display: none;
      flex-direction: column;
      &.active {
        display: flex;
      }
    }

    .menu {
      flex-direction: column;
    }
  }
}

@keyframes transform {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes transformClosing {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 42px;
  height: 26px;
  gap: 6px;
  &__line {
    background: $grey;
    border-radius: 28px;
    width: 100%;
    height: 4px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__link {
    color: $white;
    text-align: center;
    font-family: "Constantine";
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.about {
  background-color: $white;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 160px 0;
  min-height: 100vh;

  &__container {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-size: 100% 1731px;
    background-repeat: no-repeat;
  }

  &__line {
    position: absolute;
    max-width: 762px;
    max-height: 753px;
    width: 100%;
    height: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
  }

  &__text {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__h2 {
    color: $black;
    font-family: "Constantine";
    margin-bottom: 32px;
    @include adaptiv-font(32, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__p {
    color: $black;
    text-align: center;
    font-family: "Archive";
    @include adaptiv-font(16, 14);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 38px;
    max-width: 1054px;
    width: 100%;
    align-self: center;
  }

  @media (max-width: 767px) {
    &__container {
      background-image: url("/images/mob-line.svg");
    }
    padding: 120px 0;

    &__line {
      display: none;
    }
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 61px 0px;
  margin: 32px 0;

  &__img {
    object-fit: cover;
    border: 1px solid $black;
    width: 100%;
    height: 100%;
  }

  &__image {
    &-first {
      display: flex;
      flex-direction: column;
      max-width: 360px;
      max-height: 430px;
    }

    &-second {
      display: flex;
      flex-direction: column;
      place-self: auto end;
      align-items: center;
      max-width: 250px;
      max-height: 300px;
    }

    &-third {
      display: flex;
      flex-direction: column;
      place-self: center;
      align-items: center;
      max-width: 280px;
      max-height: 335px;
      .images__img {
        border: none;
      }
    }

    &-fourth {
      display: flex;
      flex-direction: column;
      place-self: center;
      align-items: center;
      max-width: 365px;
      max-height: 485px;
    }
  }

  &__p {
    color: $black;
    text-align: center;
    font-family: "Romul";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 4px;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 0px;
    place-items: center;

    &__image {
      &-first {
        display: flex;
        flex-direction: column;
        max-width: 338px;
        order: 1;
        .images__img {
          max-width: 300px;
          width: 100%;
          align-self: flex-start;
        }
      }
      &-second {
        display: flex;
        flex-direction: column;
        order: 3;
        place-self: center;
        align-items: center;
        max-width: 219px;
        width: 100%;
        margin-top: 137px;
      }

      &-third {
        display: flex;
        flex-direction: column;
        margin-top: 157px;
        order: 2;
        place-self: center;
        align-items: center;
        max-width: 252px;
        width: 100%;
        .images__img {
          max-width: 218px;
          width: 100%;
          align-self: flex-end;
          border: none;
        }
      }

      &-fourth {
        margin-top: 138px;
        order: 4;
        display: flex;
        flex-direction: column;
        place-self: center;
        align-items: center;
        max-width: 300px;
        width: 100%;
        .images__img {
          order: 1;
          max-width: 300px;
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 330px) {
    &__image {
      &-first,
      &-fourth {
        max-width: 252px;
      }
    }
  }
}

.about-yoga {
  background: $graphit;
  padding-bottom: 169px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__h1 {
    margin: 0;
    color: $gray;
    font-family: "Constantine";
    text-align: center;
    @include adaptiv-font(32, 24);
    padding: 40px 0 91px 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__img {
    object-fit: cover;
    max-width: 556px;
    max-height: 598px;
    width: 100%;
    height: 100%;
  }

  &__p {
    text-align: center;
    color: $gray;
    font-family: "Archive";
    @include adaptiv-font(16, 14);
    max-width: 513px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  &__text-description {
    border-radius: 24px;
    border: 2px solid $gray;
    display: flex;
    padding: 24px 12px;
    flex-direction: column;
    gap: 56px;
  }

  @media (max-width: 1170px) {
    padding-bottom: 24px;
    &__h1 {
      padding: 24px 0;
    }

    &__text {
      justify-content: center;
    }

    &__text-description {
      gap: 16px;
    }
  }
}

.reviews {
  padding: 160px 0;

  &__container {
    padding: 0 12px;
  }

  &__review {
    color: $graphit;
    align-self: center;
    font-family: "Archive";
    @include adaptiv-font(20, 14);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    height: 500px;

    span:not(:last-child) {
      display: block;
      margin-bottom: 40px;
      word-break: break-all;
    }

    &::before {
      content: url("/images/quotes.svg");
      float: left;
      margin-right: 32px;
      width: 51px;
      height: 100%;
    }

    @media (max-width: 767px) {
      height: 700px;
      span:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__swiper {
    max-width: 763px;
    margin-bottom: 160px;
    width: 100%;
  }

  &__prev-btn {
    left: 0%;
    transform: translate(-0%, -100%) !important;
  }

  &__next-btn {
    left: 100%;
    transform: translate(-100%, -100%) !important;
  }

  &__prev-btn,
  &__next-btn {
    color: $graphit;
    z-index: 6;
    top: 100%;
    transform: translateY(-100%);
    @media (min-width: 767px) {
      display: none;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;

    .reviews-users {
      margin-top: 24px;
      justify-content: center;

      @media (max-width: 767px) {
        &__user {
          display: none;

          &.active {
            display: flex;
          }
        }
      }

      @media (min-width: 767px) {
        margin: 40px 0 0 83px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__h2 {
    text-align: left;
    padding-left: 308px;
    margin: 32px;
    @media (max-width: 321px) {
      display: none;
    }
  }

  &__h3 {
    margin-top: 202px;

    @media (max-width: 767px) {
      margin-top: 120px;
    }
  }

  &__h2,
  &__h3 {
    color: $black;
    font-family: "Constantine";
    @include adaptiv-font(32, 22);
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }

  &__p {
    color: $graphit;
    text-align: center;
    font-family: "Archive";
    @include adaptiv-font(20, 14);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 50px 0 56px 0;
    text-align: center;
    max-width: 1128px;
    width: 100%;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
  }

  &__link {
    color: $graphit;
    text-align: center;
    font-family: "Romul";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 100px;
    background: linear-gradient(
        216deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.1) 100%
      ),
      rgba(0, 0, 0, 0.2);
    padding: 16px 24px;
    display: inline-block;
    backdrop-filter: blur(6px);
  }

  @media (max-width: 920px) {
    &__h2 {
      text-align: center;
      padding-left: 0;
    }

    padding: 120px 0;
  }
}

/**/

.slider {
  @media (max-width: 321px) {
    display: none;
  }
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 48px;
  overflow: hidden;
  width: 780px;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.slider__item {
  min-width: 760px;
  scroll-snap-align: center;
}

.slider__item-quotes {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__item-quotes img {
  width: 52px;
  height: auto;
}

.slider__item-wrapper {
  position: relative;
  padding-left: 84px;
}

.slider__item-text {
  max-width: 680px;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 30px;
  font-family: "Archive", sans-serif;
}

.slider__item-text.new-line {
  margin-bottom: 0;
}

.slider__item-text q {
  quotes: "«" "»";
}

.slider__item .authors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 4px;
  position: relative;
}

.slider__item .authors-list__actions {
  display: none;
}

.slider__item .authors-list__item {
  cursor: pointer;
}

.slider__item .authors-list__item-avatar {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.slider__item .authors-list__item.active {
  background-color: #262627;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding: 16px 24px;
  cursor: default;
}

.slider__item .authors-list__item.active .authors-list__item-info h5 {
  font-family: "Romul";
  white-space: nowrap;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}

.slider__item .authors-list__item.active .authors-list__item-info h6 {
  font-family: "Romul";
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #999999;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .slider {
    gap: 32px;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    width: 100%;
    overflow-x: hidden;
  }
  .slider__item {
    min-width: 100%;
  }
  .slider__item-text {
    font-size: 14px;
    margin-bottom: 22px;
  }
  .slider__item .authors-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider__item .authors-list__actions {
    display: block;
    height: 45px;
  }
  .slider__item .authors-list__actions-btn {
    background-color: transparent;
    outline: none;
    border: none;
  }
  .slider__item .authors-list__actions-btn img {
    display: block;
  }
  .slider__item .authors-list__item:not(.active) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .slider__item-wrapper {
    position: relative;
    padding-left: 44px;
  }
  .slider__item-quotes img {
    width: 25px;
  }
  .slider__item .authors-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider__item .authors-list__actions {
    display: block;
  }
  .slider__item .authors-list__actions-btn img {
    width: 45px;
  }
  .slider__item .authors-list__item-avatar {
    width: 52px;
    height: 52px;
  }
  .slider__item .authors-list__item.active {
    gap: 8px;
    padding: 8px 16px;
  }
  .slider__item .authors-list__item.active .authors-list__item-info h5 {
    font-size: 14px;
  }
  .slider__item .authors-list__item.active .authors-list__item-info h6 {
    font-size: 10px;
  }
}

.schedule {
  background: $graphit;
  border-radius: 0 0 24px 24px;
  padding: 50px 0 80px 0;
  min-height: 100vh;

  &__h1 {
    text-align: center;
    color: $grey;
    font-family: "Constantine";
    @include adaptiv-font(32, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 767px) {
      line-height: 46.971px;
      letter-spacing: 0.48px;
    }
  }

  @media (max-width: 767px) {
    min-height: 0;
    padding: 17px 0 52px 0;
  }
}

.schedule-header {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 24px;

  &__p {
    font-family: "Inter-Bold", sans-serif;
  }

  &__mounth {
    font-family: "Constantine";
    color: $smoke;
    font-style: normal;
    font-weight: 700;
    @include adaptiv-font(48, 36);
    @include adaptiv-lineHeight(48, 36);
  }

  &__year {
    color: $space;
    font-style: normal;
    font-weight: 700;
    @include adaptiv-font(48, 48);
    @include adaptiv-lineHeight(48, 36);
    @include adaptiv-letterSpacing(2.88, 2.16);
  }

  @media (max-width: 767px) {
    padding: 24px 0;
  }

  @media (max-width: 330px) {
    flex-wrap: wrap;
  }
}

.table-schedule {
  border-collapse: collapse;
  width: 100%;

  &__th {
    color: $spaceGrey;
    text-align: left;
    font-family: "Archive", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.971px;
    @include adaptiv-font(24, 16);
    @include adaptiv-letterSpacing(0.48, 0.32);

    @media (max-width: 767px) {
      text-align: center;
    }

    &_right {
      text-align: right;
      padding-right: 16px;
    }
  }

  &__td:nth-child(7n),
  &__td:nth-child(7n + 6) {
    background: $black10;
  }

  &__td {
    border: 2px solid $spaceGray;
    padding: 8px;
    width: 172px;
    height: 200px;
    vertical-align: baseline;
    &_offline .table-schedule__td-time {
      background: $white;
    }

    &_online .table-schedule__td-time {
      background: $space;
    }

    @media (max-width: 457px) and (min-width: 330px) {
      padding: 6px;
    }

    @media (max-width: 330px) {
      padding: 0 1.2%;
    }
  }

  &__td-date {
    display: block;
    text-align: right;
    color: $whiteSmoke20;
    text-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.4);
    font-family: "Inter-SemiBold";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 5px;
    padding: 0 4px;

    @media (max-width: 330px) {
      text-align: center;
      padding: 0;
    }
  }

  &__td-time {
    display: inline-flex;
    align-items: center;
    color: $white;
    font-family: "Inter-Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    min-width: 115px;
    height: 132px;
    width: 100%;
    border-radius: 21px;
    padding: 0 16px;
    margin-top: 14px;
  }

  &__tr-mob {
    display: none;
  }

  &__td-text {
    max-width: 100px;
    color: $black;
  }

  @media (max-width: 1100px) {
    margin-bottom: 28px;

    &__tr-pc {
      display: none;
    }

    &__tr-mob {
      display: table-row;
    }

    &__th_right {
      text-align: center;
      padding: 0;
    }

    &__td {
      max-width: 39px;
      height: 100px;
    }

    &__td-text {
      display: flex;
      font-size: 0px;
    }

    &__td-time {
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 32px;
      border-radius: 50px;
      padding: 2px;
      min-width: 0;
    }

    &__td-at {
      @include adaptiv-font(20, 8);
    }

    &__td-date {
      padding: 0;
    }
  }

  @media (min-width: 710px) and (max-width: 1100px) {
    &__td-time {
      width: 42px !important;
      height: 42px !important;
    }
  }
}

.types-schedule {
  display: none;
  flex-direction: column;
  gap: 24px;

  &__type {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__type-offline &__color {
    background: $white;
  }

  &__color {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50%;
  }

  &__span {
    color: $white;
    text-align: center;
    font-family: "Romul";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  &__type-online &__color {
    background: $space;
  }

  @media (max-width: 1100px) {
    display: flex;
  }
}

.details {
  background: $white;
  padding-top: 160px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__h1 {
    text-align: center;
    color: $graphit;
    font-family: "Constantine";
    @include adaptiv-font(32, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__text {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
  }

  &__text-description {
    margin: 32px 0;
    padding: 24px 12px;
    display: flex;
    border-radius: 24px;
    border: 2px solid $graphit;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1104px;
    width: 100%;
  }

  &__p {
    text-align: center;
    color: $graphit;
    font-family: "Archive";
    font-size: 16px;
    @include adaptiv-font(16, 14);
    font-style: normal;
    font-weight: 400;
    @include adaptiv-lineHeight(32, 26);
  }

  @media (max-width: 1100px) {
    padding: 120px 0;
    &__text {
      padding-bottom: 24px;
      justify-content: center;
    }

    &__text-description {
      gap: 12px;
      order: 2;
    }

    &__img {
      order: 1;
    }

    &__line {
      display: none;
    }
  }
}

.address {
  text-align: center;
  align-self: center;
  max-width: 514px;
  width: 100%;

  &__head {
    color: $graphit;
    text-align: center;
    font-family: "Constantine";
    @include adaptiv-font(24, 20);
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__description {
    color: $graphit;
    text-align: center;
    font-family: "Romul";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
}

.information {
  background: $white;
  padding-top: 156px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
  }

  &__h2 {
    color: $graphit;
    text-align: center;
    font-family: "Constantine";
    @include adaptiv-font(32, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__text {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin: 23px 0 43px 0;
  }

  &__text-description {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    border: 2px solid $graphit;
    padding: 24px 12px;
    flex-wrap: wrap;
    max-width: 1104px;
    width: 100%;
    gap: 20px;
  }

  &__p {
    text-align: center;
    color: $graphit;
    font-family: "Archive";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  @media (max-width: 1100px) {
    padding-top: 120px;
    border: none;

    &__text {
      justify-content: center;
      padding-bottom: 16px;
    }

    &__line {
      display: none;
    }
  }
}

.individualSessions {
  background: $white;
  padding: 160px 0;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__h2 {
    text-align: center;
    color: $graphit;
    font-family: "Constantine";
    @include adaptiv-font(32, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__text-description {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    border: 2px solid $graphit;
    flex-wrap: wrap;
    max-width: 1104px;
    padding: 24px 12px;
    width: 100%;
    gap: 24x;
  }

  &__p {
    text-align: center;
    color: $graphit;
    font-family: "Archive";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  @media (max-width: 1100px) {
    padding: 120px 0;
  }
}

.Sessions-prices {
  background: $graphit;
  padding: 47px 0 19px 0;
  min-height: 100vh;
  &__container {
    display: flex;
    flex-direction: column;
  }
}

.Sessions-prices-individualSessions {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
  margin-bottom: 36px;
  gap: 36px;
  &__h2 {
    text-align: center;
    color: $gray;
    font-family: "Constantine";
    @include adaptiv-font(32, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
  }

  &__session {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 2px solid $gray;
    align-items: center;
  }

  &__name {
    color: $gray;
    font-family: "Romul";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 300px;
    width: 100%;
  }

  &__price {
    color: $gray;
    text-align: right;
    font-family: "Romul";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  @media (max-width: 767px) {
    padding: 0 7px;
    gap: 16px;
  }
}

.Sessions-prices-prupaceousSessions {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
  margin-bottom: 36px;
  gap: 36px;

  &__h2 {
    text-align: center;
    color: $gray;
    font-family: "Constantine";
    @include adaptiv-font(32, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 50px 0;
  }

  &__session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 2px solid $gray;
  }

  &__name {
    color: $gray;
    font-family: "Romul";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 300px;
    width: 100%;
  }

  &__price {
    color: $gray;
    text-align: right;
    font-family: "Romul";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  @media (max-width: 767px) {
    padding: 0 7px;
    margin-bottom: 16px;
    gap: 16px;
  }
}

.Sessions-prices-onlineSessions {
  &__session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 24px;
    border-radius: 24px;
    border: 2px solid $gray;
  }

  &__name {
    color: $gray;
    font-family: "Romul";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 300px;
    width: 100%;
  }

  &__price {
    color: $gray;
    text-align: right;
    font-family: "Romul";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  @media (max-width: 767px) {
    gap: 16px;
  }
}

.signForLesson {
  background: $graphit;
  padding: 88px 0 96px 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__sing {
    color: $white;
    text-align: center;
    font-family: "Romul";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 100px;
    background: linear-gradient(
      216deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    padding: 16px 24px;
    backdrop-filter: blur(6px);
    display: inline-block;
  }
}

.singForLesson {
  &__h2 {
    text-align: center;
    color: $gray;
    font-family: "Constantine";
    @include adaptiv-font(32, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.signForLesson-answers {
  margin-bottom: 30px;
  list-style-type: disc;
  padding-left: 25px;
  &__answer {
    text-align: center;
    color: $gray;
    font-family: "Archive";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
}

.footer {
  background: $graphit;
  padding-bottom: 64px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    justify-content: center;
    text-align: center;
  }
}

.footer-link-list {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;

  &__head {
    color: $white;
    font-family: "Constantine";
    @include adaptiv-font(16, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
  }

  &__item {
    color: $white;
    font-family: "Romul";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.footer-address {
  display: inline-block;
  &__address {
    text-align: center;
    color: $white;
    font-family: "Constantine";
    @include adaptiv-font(16, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
  }

  &__location {
    color: $white;
    font-family: "Romul";
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
}
.footer-link-social-list {
  &__head {
    color: $white;
    font-family: "Constantine";
    @include adaptiv-font(16, 24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
  }

  &-links {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &__social-img {
    width: 32px;
    height: 32px;
  }
}

.main {
  flex: 1 0 auto;
}
