$white: #ffffff;
$black: #000000;
$black10: #00000024;
$whiteSmoke: #faf9f9;
$gray10: #999999;
$gray: #eeede9;
$grey: #c9c9c9;
$smoke: #f8f7fa;
$space: #dde0ff1f;
$graphit: #262627;
$spaceGrey: #f8f7faa3;
$spaceGray: #3a3943;
$whiteSmoke20: #f8f7fa;
$green: #0dee4c3d;
$yellow: #564e03;
$maxWidth: 1280;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{calc($addSize / 1.5)} *
      ((100vw - 320px) / #{$maxWidth})
  );
}

@mixin adaptiv-lineHeight($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  line-height: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

@mixin adaptiv-letterSpacing($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  letter-spacing: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
